<ng-container *ngtContext="let t; node: 'null'">
  <fts-accordion [collapsing]="true">
    <div ftsAccordionItem [title]="t('translationString.title')">
      <ng-template ftsAccordionContent>
        <div class="accordion-content">
          <fts-translation-string></fts-translation-string>
        </div>
      </ng-template>
    </div>
    <div ftsAccordionItem [title]="t('localizationPipe.title')">
      <ng-template ftsAccordionContent>
        <div class="accordion-content">
          <fts-localization-pipe></fts-localization-pipe>
        </div>
      </ng-template>
    </div>
    <div ftsAccordionItem [title]="t('localizationMethod.title')">
      <ng-template ftsAccordionContent>
        <div class="accordion-content">
          <fts-localization-method></fts-localization-method>
        </div>
      </ng-template>
    </div>
    <div ftsAccordionItem [title]="t('currencyCodes.title')">
      <ng-template ftsAccordionContent>
        <div class="accordion-content">
          <fts-currency-codes></fts-currency-codes>
        </div>
      </ng-template>
    </div>
  </fts-accordion>
</ng-container>
