/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";

html, body {
  margin: 0;
  padding: 0;
}
body {
  background-color: lightyellow;
}
.fill-remaining-space {
  flex: 1 1 auto;
}
.mat-card {
  margin-bottom: 1rem;
}
.mat-card .mat-card-actions {
  display: flex;
  align-items: center;
}
.control-button {
  font-size: 1.5rem;
}
.control-text {
  padding: 1rem;
}
pre {
  background-color: #FFE6F1;
  padding: .5rem 1rem;
}
em {
  color: blue;
  font-style: normal;
}
strong {
  color: deeppink;
}
dt {
  font-family: "Courier New";
  font-size: 1rem;
}
code strong {
  border: cyan solid thin;
  background-color: #402050;
  color: unset;
}
code em {
  color: yellow;
}
td pre {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}
.mat-expansion-panel-header {
  font-size: 24px;
}
blockquote {
  background-color: #FFE6F1;
  border-left: mediumpurple solid 10px;
  font-size: 1rem;
  font-style: italic;
  margin: 0;
  padding: 16px 16px 16px 24px;
}
.code {
  font-family: monospace;
  font-size: 1rem;
}
