<mat-card>
  <mat-card-title>
    Selection Lists
  </mat-card-title>

  <mat-card-content>
    <p>
      The localization of the texts of a selection list is a frequent task. The
      TranslatableOptionList class provides a way to do that easily. Let us assume
      that we want to create a list of fruits. Tha names of the fruits are stored
      in JSON files:
    </p>
    <app-excerpt [text]="translation"></app-excerpt>
    <p>
      The TranslatableOptionList class provides the list items in the following way:
    </p>
    <app-excerpt [text]="code"></app-excerpt>
    <p>
      Here <i>'app.fruits'</i> is the key of the text node. Thereafter the fruit
      list can be used in the view:
    </p>
    <app-excerpt [text]="view"></app-excerpt>
    <p>
      The actual value is available as:
    </p>
    <app-excerpt [text]="properties"></app-excerpt>
    <p>
      The TranslatableOptionList object wil load the appropriate translation texts
      when the user changes the current language.
    </p>
  </mat-card-content>

  <mat-card-actions>
    <a href="usage">
      <button mat-fab color="primary">
        <i class="fas fa-chevron-left control-button"></i>
      </button>
    </a>
    <span class="control-text">Usage</span>

    <span class="fill-remaining-space"></span>

    <span class="control-text">Text Lists</span>
    <a href="text-list">
      <button mat-fab color="accent">
        <i class="fas fa-chevron-right control-button"></i>
      </button>
    </a>
  </mat-card-actions>
</mat-card>
