<div class="container">
  <div class="menu">
    <div class="menu-item">
      <a routerLink="/seasons">Vivaldi</a>
    </div>
    <div class="menu-item">
      <a routerLink="/seasons/spring">{{ t.spring() }}</a>
    </div>
    <div class="menu-item">
      <a routerLink="/seasons/summer">{{ t.summer() }}</a>
    </div>
    <div class="menu-item">
      <a routerLink="/seasons/autumn">{{ t.autumn() }}</a>
    </div>
    <div class="menu-item">
      <a routerLink="/seasons/winter">{{ t.winter() }}</a>
    </div>
  </div>
</div>
