<ng-container *ngtContext="let t; node: 'localization.datetime'">

  <div class="grid-1-1">
    <div>
      <div class="context">--- with long option names ---</div>
      <div class="label">
        {{ t('default_f') }}:
        <span class="data">{{ now | toDate }} {{ now | toTime }}</span>
      </div>
      <div class="label">
        {{ t('short_f') }}:
        <span class="data">{{ now | toDate: 'short' }} {{ now | toTime: 'short' }}</span>
      </div>
      <div class="label">
        {{ t('medium_f') }}:
        <span class="data">{{ now | toDate: 'medium' }} {{ now | toTime: 'medium' }}</span>
      </div>
      <div class="label">
        {{ t('long_f') }}:
        <span class="data">{{ now | toDate: 'long' }} {{ now | toTime: 'long' }}</span>
      </div>
      <div class="label">
        {{ t('full_f') }}:
        <span class="data">{{ now | toDate: 'full' }} {{ now | toTime: 'full' }}</span>
      </div>
      <div class="label">
        {{ t('fractional_f') }}:
        <span class="data">{{ now | toDate: 'short' }} {{ now | toTime: 'HHmmssSSS' }}</span>
      </div>
    </div>
    <div>
      <div class="context">--- with short option names ---</div>
      <div class="label">
        {{ t('default_f') }}:
        <span class="data">{{ now | toDate }} {{ now | toTime }}</span>
      </div>
      <div class="label">
        {{ t('short_f') }}:
        <span class="data">{{ now | toDate: 'short' }} {{ now | toTime: 'short' }}</span>
      </div>
      <div class="label">
        {{ t('medium_f') }}:
        <span class="data">{{ now | toDate: 'medium' }} {{ now | toTime: 'medium' }}</span>
      </div>
      <div class="label">
        {{ t('long_f') }}:
        <span class="data">{{ now | toDate: 'long' }} {{ now | toTime: 'long' }}</span>
      </div>
      <div class="label">
        {{ t('full_f') }}:
        <span class="data">{{ now | toDate: 'full' }} {{ now | toTime: 'full' }}</span>
      </div>
      <div class="label">
        {{ t('fractional_f') }}:
        <span class="data">{{ now | toDate: 'short' }} {{ now | toTime: 'HHmmssSSS' }}</span>
      </div>
    </div>
  </div>

</ng-container>
