<mat-card>
  <mat-card-title>
    Configuration
  </mat-card-title>

  <mat-card-content>
    <p>
      An example configuration object looks like that:
    </p>
    <app-excerpt [text]="config" language="typescript"></app-excerpt>
    <p>
      The configuration object has the following properties:
    </p>

    <h3>translationUrl: <span class="data-type">string</span></h3>
    <p>
      The property defines the URL where NgTranslation will download the translation
      files from. The property value is a template string that has to contain 2
      named parameters surrounded by curly brackets:
    </p>
    <dl>
      <dt>language</dt>
      <dd>The code of the current or the requested language, e.g. 'en', 'en-GB',
        'en-US', 'es', 'fr' etc.</dd>
      <dt>section</dt>
      <dd>The name of a partial translation file without the file extension, see
        the following property.</dd>
    </dl>
    <p>
      In the case of the above example the following files will be downloaded:
    </p>
    <app-excerpt [text]="assets"></app-excerpt>
    <p>
      When you use this template:
    </p>
    <app-excerpt [text]="translationUrl" language="typescript"></app-excerpt>
    <p>
      Then the following translation files will be downloaded:
    </p>
    <app-excerpt [text]="translations"></app-excerpt>
    <p>
      All the other translation files will bo downloaded when they are needed,
      i.e. the user changes language or request a lazy loaded module.
    </p>

    <h3>sections: <span class="data-type">Array&lt;string></span></h3>
    <p>
      All translations can be stored in a big file, however, it is easier to maintain
      them when they are divided into several smaller files. The basis of the
      distribution can be - for example - that each Angular module has its own
      translation file. Even a bigger module can have more translation files. Another
      possibility is to collect the texts used application wide into one or more shared
      file. Or you can use your own strategy.
    </p>
    <p>
      The sections are the names of this divided translation files without the file
      extension. In case of lazy loaded modules the path of the module has to
      precede the file name, separated by a colon. For that the translation service
      could download the necessary translation files for the lazy loaded module,
      the path is used to filter the needed sections. The download is initiated by
      the LoadTranslationsGuard.
    </p>
    <p>
      As an example, if you define the following route:
    </p>
    <app-excerpt [text]="routes1" language="typescript"></app-excerpt>
    <p>
      Then you can define the section of the lazy loaded module like that:
    </p>
    <app-excerpt [text]="sections11" language="typescript"></app-excerpt>
    <p>
      Or you can divide the translations into several sections:
    </p>
    <app-excerpt [text]="sections12" language="typescript"></app-excerpt>
    <p>
      If the path is inapt as a name, you can apply an alternate section prefix on
      the route definition:
    </p>
    <app-excerpt [text]="routes2" language="typescript"></app-excerpt>
    <p>
      Then the corresponding sections will be:
    </p>
    <app-excerpt [text]="sections2" language="typescript"></app-excerpt>
    <h3>defaultLanguage: <span class="data-type">string</span></h3>
    <p>
      The code of the default language. The translations of the eager loaded modules
      in the default language are downloaded at the start of the application.
    </p>
  </mat-card-content>

  <mat-card-actions>
    <a routerLink="../setup">
      <button mat-fab color="primary">
        <i class="fas fa-chevron-left control-button"></i>
      </button>
    </a>
    <span class="control-text">Getting Started</span>

    <span class="fill-remaining-space"></span>

    <span class="control-text">Usage</span>
    <a routerLink="../usage">
      <button mat-fab color="accent">
        <i class="fas fa-chevron-right control-button"></i>
      </button>
    </a>
  </mat-card-actions>
</mat-card>
