<fts-seasons-menu></fts-seasons-menu>

<ng-container *ngtContext="let t; node: 'seasons/autumn'">

  <h3 class="subtitle">{{ t('title') }}</h3>

  <div class="grid-1-1">
    <div class="grid-item">
      <div class="tempo"> Allegro </div>
      <p>
        {{ t('line_1_1') }}<br>
        {{ t('line_1_2') }}<br>
        {{ t('line_1_3') }}<br>
        {{ t('line_1_4') }}
      </p>
      <div class="tempo"> Adagio molto </div>
      <p>
        {{ t('line_2_1') }}<br>
        {{ t('line_2_2') }}<br>
        {{ t('line_2_3') }}<br>
        {{ t('line_2_4') }}
      </p>
      <div class="tempo"> Allegro </div>
      <p>
        {{ t('line_3_1') }}<br>
        {{ t('line_3_2') }}<br>
        {{ t('line_3_3') }}
      </p>
      <div class="tempo"> &nbsp; </div>
      <p>
        {{ t('line_4_1') }}<br>
        {{ t('line_4_2') }}<br>
        {{ t('line_4_3') }}
      </p>
    </div>
    <div class="grid-item">
      <img src="/images/autumn.jpg" alt="">
    </div>
  </div>

</ng-container>
