<ng-container *ngtContext="let t; node: 'translate.currency'">

  <div class="grid-1-1">
    <div>
      <div class="context">--- with long option names ---</div>
      <div class="grid-1-1">
        <div class="label">{{ t('default_f' ) }}:</div>
        <div>
          <div class="data">{{ currencyUSD | toCurrency }}</div>
          <div class="data">{{ currencyEUR | toCurrency }}</div>
          <div class="data">{{ currencyHUF | toCurrency }}</div>
        </div>
        <div class="label">{{ t('code_f' ) }}:</div>
        <div>
          <div class="data">{{ currencyUSD | toCurrency: 'currencyDisplay=code' }}</div>
          <div class="data">{{ currencyEUR | toCurrency: 'currencyDisplay=code' }}</div>
          <div class="data">{{ currencyHUF | toCurrency: 'currencyDisplay=code' }}</div>
        </div>
        <div class="label">{{ t('name_f' ) }}:</div>
        <div>
          <div class="data">{{ currencyUSD | toCurrency: 'currencyDisplay=name' }}</div>
          <div class="data">{{ currencyEUR | toCurrency: 'currencyDisplay=name' }}</div>
          <div class="data">{{ currencyHUF | toCurrency: 'currencyDisplay=name' }}</div>
        </div>
        <div class="label">{{ t('symbol_f' ) }}:</div>
        <div>
          <div class="data">{{ currencyUSD | toCurrency: 'currencyDisplay=symbol' }}</div>
          <div class="data">{{ currencyEUR | toCurrency: 'currencyDisplay=symbol' }}</div>
          <div class="data">{{ currencyHUF | toCurrency: 'currencyDisplay=symbol' }}</div>
        </div>
      </div>
    </div>
    <div>
      <div class="context">--- with short option names ---</div>
      <div class="grid-1-1">
        <div class="label">{{ t('default_f' ) }}:</div>
        <div>
          <div class="data">{{ currencyUSD | toCurrency }}</div>
          <div class="data">{{ currencyEUR | toCurrency }}</div>
          <div class="data">{{ currencyHUF | toCurrency }}</div>
        </div>
        <div class="label">{{ t('code_f' ) }}:</div>
        <div>
          <div class="data">{{ currencyUSD | toCurrency: 'cd = code' }}</div>
          <div class="data">{{ currencyEUR | toCurrency: 'cd = code' }}</div>
          <div class="data">{{ currencyHUF | toCurrency: 'cd = code' }}</div>
        </div>
        <div class="label">{{ t('name_f' ) }}:</div>
        <div>
          <div class="data">{{ currencyUSD | toCurrency: 'cd = name' }}</div>
          <div class="data">{{ currencyEUR | toCurrency: 'cd = name' }}</div>
          <div class="data">{{ currencyHUF | toCurrency: 'cd = name' }}</div>
        </div>
        <div class="label">{{ t('symbol_f' ) }}:</div>
        <div>
          <div class="data">{{ currencyUSD | toCurrency: 'cd = symbol' }}</div>
          <div class="data">{{ currencyEUR | toCurrency: 'cd = symbol' }}</div>
          <div class="data">{{ currencyHUF | toCurrency: 'cd = symbol' }}</div>
        </div>
      </div>
    </div>
  </div>

</ng-container>
