<mat-card>
  <mat-card-title>
    Text Lists
  </mat-card-title>

  <mat-card-content>
    <p>
      The TranslatableTextList class makes easy to handle several text items in
      the controller code. For example you want to use these texts:
    </p>
    <pre>// app.json
&#123;
  ...
  "shop": &#123;
    "offer": "Offer of the day: buy {{ buy }} pay {{ pay }}!",
    "special": "Every {{0}} film is {{1}}% off!",
    "sale": "The sale still lasts for {{0}} days."
  },
  ...
}
</pre>
    <p>
      You can do it like that:
    </p>
    <pre>@Component(&#123;
  selector: 'app-shop',
  templateUrl: './shop.component.html',
  styleUrls: ['./shop.component.css']
})
export class ShopComponent implements OnInit, OnDestroy &#123;

  private texts: TranslatableTextList;

  get dailyOffer(): string &#123;
    return this.texts.get( 'offer', &#123; buy: 3, pay: 2 } );
  }
  get specialOffer(): string &#123;
    return this.texts.get( 'special', [ 'Jackie Chan', 20 ] );
  }
  get specialLasts(): string &#123;
    return this.texts.get( 'lasts', 4 );
  }

  constructor(
    private translate: TranslationService
  ) &#123;
    this.texts = new TranslatableTextList(
      this.translate,
      &#123;
        'app.shop.offer': 'offer',
        'app.shop.special': 'special',
        'app.shop.sale': 'lasts'
      }
    );
  }

  ngOnInit() &#123; }

  ngOnDestroy() &#123;
    this.texts.destroy();
  }
}</pre>
    <p>
  </mat-card-content>

  <mat-card-actions>
    <a href="selection-list">
      <button mat-fab color="primary">
        <i class="fas fa-chevron-left control-button"></i>
      </button>
    </a>
    <span class="control-text">Selection Lists</span>

    <span class="fill-remaining-space"></span>

    <span class="control-text">API</span>
    <a href="api">
      <button mat-fab color="accent">
        <i class="fas fa-chevron-right control-button"></i>
      </button>
    </a>
  </mat-card-actions>
</mat-card>
