<mat-card>
  <mat-card-title>
    Text Lists
  </mat-card-title>

  <mat-card-content>
    <p>
      The TranslatableTextList class makes easy to handle several text items in
      the controller code. For example you want to use these texts:
    </p>
    <pre>// shop.en.json
&#123;
  ...
  "introduction": "If you are looking for good deals and bargains, this is the place to come.",
  ...
  "offers": &#123;
    ...
    "special": "Offer of the day: buy &#123;<span></span>&#123; buy }} pay &#123;<span></span>&#123; pay }}!",
    ...
  },
  ...
}</pre>
    <p>

    </p>
    <pre>@Component(&#123; ... })
export class FruitComponent implements OnDestroy &#123;

  private fruitList: TranslatableOptionList;

  get fruits(): Array&lt;TranslatableOption> &#123; return this.fruitList.items; }

  constructor(
    private translate: TranslationService
  ) &#123;
    this.fruitList = new TranslatableOptionList( translate, 'app.fruits' );
  }
  ...
  ngOnDestroy() &#123;
    this.fruitList.destroy();
  }
}</pre>
    <p>
  </mat-card-content>

  <mat-card-actions>
    <a href="selection-list">
      <button mat-fab color="primary">
        <i class="fas fa-chevron-left control-button"></i>
      </button>
    </a>
    <span class="control-text">Selection Lists</span>

    <span class="fill-remaining-space"></span>

    <span class="control-text">API</span>
    <a href="api">
      <button mat-fab color="accent">
        <i class="fas fa-chevron-right control-button"></i>
      </button>
    </a>
  </mat-card-actions>
</mat-card>
