<div class="context">--- the source is the same section ---</div>
<div class="data">{{ 'translation.text.otherElements' | translate }}</div>
<div class="data flex-row">
  <div class="row-item">{{ 'translation.text.element.earth' | translate }}</div>
  <div class="row-item">{{ 'translation.text.element.water' | translate }}</div>
  <div class="row-item">{{ 'translation.text.element.wind' | translate }}</div>
  <div class="row-item">{{ 'translation.text.element.fire' | translate }}</div>
</div>
<div class="data" [innerHtml]="'translation.text.smurfs' | translate"></div>

<div class="context">--- the sources are shared sections ---</div>
<div class="data">{{ 'shared.fourSeasons' | translate }}</div>
<div class="data flex-row">
  <div class="row-item">{{ 'enums.season.spring' | translate }}</div>
  <div class="row-item">{{ 'enums.season.summer' | translate }}</div>
  <div class="row-item">{{ 'enums.season.autumn' | translate }}</div>
  <div class="row-item">{{ 'enums.season.winter' | translate }}</div>
</div>
<div class="data" [innerHtml]="'shared.pooh' | translate"></div>

<div class="context">--- with interpolation ---</div>
<div class="data">{{ 'translation.text.today'| translate: today }}</div>
<div class="data">{{ 'translation.text.stock' | translate: stock }}</div>
<div class="data">{{ 'translation.text.book' | translate: book }}</div>
