<ng-container *ngtContext="let t; node: 'conversion'">
  <icu-accordion [collapsing]="true">
    <div ftsAccordionItem [title]="t('csvFile.title')">
      <ng-template ftsAccordionContent>
        <div class="accordion-content">
          <icu-csv-file></icu-csv-file>
        </div>
      </ng-template>
    </div>
    <div ftsAccordionItem [title]="t('poFile.title')">
      <ng-template ftsAccordionContent>
        <div class="accordion-content">
          <icu-po-file></icu-po-file>
        </div>
      </ng-template>
    </div>
  </icu-accordion>
</ng-container>
