<ng-container *ngtContext="let t; node: 'localization.datetime'; let l = localize">

  <div class="grid-1-1">
    <div>
      <div class="context">--- with long option names ---</div>
      <div class="label">
        {{ t('default_f') }}:
        <span class="data">{{ l.datetime(now) }}</span>
      </div>
      <div class="label">
        {{ t('short_f') }}:
        <span class="data">{{ l.datetime(now, 'dateStyle=short;timeStyle=short;hour12=false') }}</span>
      </div>
      <div class="label">
        {{ t('medium_f') }}:
        <span class="data">{{ l.datetime(now, 'dateStyle=medium;timeStyle=medium') }}</span>
      </div>
      <div class="label">
        {{ t('long_f') }}:
        <span class="data">{{ l.datetime(now, 'dateStyle=long;timeStyle=long') }}</span>
      </div>
      <div class="label">
        {{ t('full_f') }}:
        <span class="data">{{ l.datetime(now, 'dateStyle=full;timeStyle=full;hour12=true') }}</span>
      </div>
      <div class="label">
        {{ t('fractional_f') }}:
        <span class="data">{{ l.datetime(now, 'dateStyle=short;timeStyle=medium;fractionalSecondDigits=3') }}</span>
      </div>
    </div>
    <div>
      <div class="context">--- with short option names ---</div>
      <div class="label">
        {{ t('default_f') }}:
        <span class="data">{{ l.datetime(now) }}</span>
      </div>
      <div class="label">
        {{ t('short_f') }}:
        <span class="data">{{ l.datetime(now, 'ds = short; ts = short; h12 = false') }}</span>
      </div>
      <div class="label">
        {{ t('medium_f') }}:
        <span class="data">{{ l.datetime(now, 'ds = medium; ts = medium') }}</span>
      </div>
      <div class="label">
        {{ t('long_f') }}:
        <span class="data">{{ l.datetime(now, 'ds = long; ts = long') }}</span>
      </div>
      <div class="label">
        {{ t('full_f') }}:
        <span class="data">{{ l.datetime(now, 'ds = full; ts = full; h12 = true') }}</span>
      </div>
      <div class="label">
        {{ t('fractional_f') }}:
        <span class="data">{{ l.datetime(now, 'ds = short; ts = medium; fsd = 3') }}</span>
      </div>
    </div>
  </div>

</ng-container>
