<ng-container *ngIf="initialized; else splash">

  <mat-toolbar color="primary">
    <div class="app-header">

      <ng-container *translate="let t">
        <a routerLink="home" class="title">{{ t( 'app.shared.title' ) }}</a>
        <a *ngFor="let item of menu" routerLink="{{ item.value }}">{{ item.text }}</a>

        <span class="fill-remaining-space"></span>

        <label class="curr-language">{{ t( 'app.shared.currLang' ) }}</label>
      </ng-container>
      <select (change)="changeLanguage( $event )">
        <option *ngFor="let language of languages"
                value="{{ language.value }}"
                [selected]="language.selected">
          {{ language.text }}
        </option>
      </select>

    </div>
  </mat-toolbar>

  <div class="app-content">
    <router-outlet></router-outlet>
  </div>

  <ng-container *translate="let t">
    <div class="app-footer">
      <p>
        <a routerLink="test/components">{{ t( 'app.shared.components' ) }}</a> |
        <a routerLink="test/auxiliary">{{ t( 'app.shared.auxiliary' ) }}</a> |
        <a routerLink="test/l10n">{{ t( 'app.shared.l10n' ) }}</a> |
        <a routerLink="test/conversion">{{ t( 'app.shared.conversion' ) }}</a> |
        <a routerLink="test/null">{{ t( 'app.shared.null' ) }}</a>
      </p>
    </div>
  </ng-container>

</ng-container>

<ng-template #splash>
  <p>Initializing the app...</p>
</ng-template>
