<mat-toolbar color="primary">
  <div class="app-header">

    <a routerLink="" class="title">{{ menuItem( 'title' ) }}</a>

    <a routerLink="spring">{{ menuItem( 'spring' ) }}</a>
    <a routerLink="summer">{{ menuItem( 'summer' ) }}</a>
    <a routerLink="autumn">{{ menuItem( 'autumn' ) }}</a>
    <a routerLink="winter">{{ menuItem( 'winter' ) }}</a>

    <span class="fill-remaining-space"></span>

    <label class="curr-language">{{ menuItem( 'currLang' ) }}</label>
    <select (change)="changeLanguage( $event )">
      <option *ngFor="let language of languages"
              value="{{ language.value }}"
              selected="{{ language.selected ? 'selected' : '' }}">
        {{ language.text }}
      </option>
    </select>

  </div>
</mat-toolbar>

<div class="app-content">
  <router-outlet></router-outlet>
</div>

<div class="app-footer">
  <p>
    <a routerLink="tests">{{ menuItem( 'tests' ) }}</a>
  </p>
</div>
