<mat-card>
  <mat-card-title>
    Welcome to NgTranslation!
  </mat-card-title>

  <mat-card-content>
    Content
  </mat-card-content>
</mat-card>

<mat-card>
  <mat-card-title>
    Installation
  </mat-card-title>

  <mat-card-content>
    Content
  </mat-card-content>

  <mat-card-actions>
    <span class="fill-remaining-space"></span>

    <span class="control-text">Usage</span>
    <a href="usage">
      <button mat-fab color="accent">
        <i class="fas fa-chevron-right control-button"></i>
      </button>
    </a>
  </mat-card-actions>
</mat-card>
