<ng-container *ngtContext="let t; node: 'localization'">
  <icu-accordion [collapsing]="true">
    <div ftsAccordionItem [title]="t('number.title')">
      <ng-template ftsAccordionContent>
        <div class="accordion-content">
          <icu-to-number></icu-to-number>
        </div>
      </ng-template>
    </div>
    <div ftsAccordionItem [title]="t('percent.title')">
      <ng-template ftsAccordionContent>
        <div class="accordion-content">
          <icu-to-percent></icu-to-percent>
        </div>
      </ng-template>
    </div>
    <div ftsAccordionItem [title]="t('currency.title')">
      <ng-template ftsAccordionContent>
        <div class="accordion-content">
          <icu-to-currency></icu-to-currency>
        </div>
      </ng-template>
    </div>
    <div ftsAccordionItem [title]="t('money.title')">
      <ng-template ftsAccordionContent>
        <div class="accordion-content">
          <icu-to-money></icu-to-money>
        </div>
      </ng-template>
    </div>
    <div ftsAccordionItem [title]="t('datetime.title')">
      <ng-template ftsAccordionContent>
        <div class="accordion-content">
          <icu-to-datetime></icu-to-datetime>
        </div>
      </ng-template>
    </div>
  </icu-accordion>
</ng-container>
