<ng-container *ngtContext="let t; node: 'translate.currency'">

  <div class="grid-1-1">
    <div>
      <div class="context">--- with long option names ---</div>
      <div class="grid-1-1">
        <div class="label">{{ t('default_f' ) }}:</div>
        <div>
          <div class="data">{{ t('default_l', priceUSD) }}</div>
          <div class="data">{{ t('default_l', priceEUR) }}</div>
          <div class="data">{{ t('default_l', priceHUF) }}</div>
        </div>
        <div class="label">{{ t('code_f' ) }}:</div>
        <div>
          <div class="data">{{ t('code_l', priceUSD) }}</div>
          <div class="data">{{ t('code_l', priceEUR) }}</div>
          <div class="data">{{ t('code_l', priceHUF) }}</div>
        </div>
        <div class="label">{{ t('name_f' ) }}:</div>
        <div>
          <div class="data">{{ t('name_l', priceUSD) }}</div>
          <div class="data">{{ t('name_l', priceEUR) }}</div>
          <div class="data">{{ t('name_l', priceHUF) }}</div>
        </div>
        <div class="label">{{ t('symbol_f' ) }}:</div>
        <div>
          <div class="data">{{ t('symbol_l', priceUSD) }}</div>
          <div class="data">{{ t('symbol_l', priceEUR) }}</div>
          <div class="data">{{ t('symbol_l', priceHUF) }}</div>
        </div>
      </div>
    </div>
    <div>
      <div class="context">--- with short option names ---</div>
      <div class="grid-1-1">
        <div class="label">{{ t('default_f' ) }}:</div>
        <div>
          <div class="data">{{ t('default_s', priceUSD) }}</div>
          <div class="data">{{ t('default_s', priceEUR) }}</div>
          <div class="data">{{ t('default_s', priceHUF) }}</div>
        </div>
        <div class="label">{{ t('code_f' ) }}:</div>
        <div>
          <div class="data">{{ t('code_s', priceUSD) }}</div>
          <div class="data">{{ t('code_s', priceEUR) }}</div>
          <div class="data">{{ t('code_s', priceHUF) }}</div>
        </div>
        <div class="label">{{ t('name_f' ) }}:</div>
        <div>
          <div class="data">{{ t('name_s', priceUSD) }}</div>
          <div class="data">{{ t('name_s', priceEUR) }}</div>
          <div class="data">{{ t('name_s', priceHUF) }}</div>
        </div>
        <div class="label">{{ t('symbol_f' ) }}:</div>
        <div>
          <div class="data">{{ t('symbol_s', priceUSD) }}</div>
          <div class="data">{{ t('symbol_s', priceEUR) }}</div>
          <div class="data">{{ t('symbol_s', priceHUF) }}</div>
        </div>
      </div>
    </div>
  </div>

</ng-container>
