.header {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.menu {
  display: none;
  cursor: pointer;
}
.links {
  display: flex;
  flex-direction: row;
  align-items: center;
  overflow-x: auto;
  scrollbar-width: none;
  white-space: nowrap;
  z-index: 999;
}
.link {
  font-size: 1.14rem;
  color: white;
  padding: 0 1rem;
  cursor: pointer;
}
.link.selected {
  background-color: var(--dark-color);
}
.chapter {
  line-height: var(--header-height);
}
@media (max-width: 768px) {
  .menu {
    display: inline-block;
  }
}
.overlay-menu {
  width: 236px;
  background-color: var(--light-color);
  height: 100vh;
  transition: width .2s;
}
