@use '@angular/material' as mat;
@import url("../public/initialize.css");

html {
  color-scheme: light dark;
  @include mat.theme((
    color: mat.$chartreuse-palette,
    typography: Roboto,
    density: 0
  ));
}
:root {
  @include mat.toolbar-overrides((
    container-background-color: firebrick,
    container-text-color: white,
  ));
}

.middle-spacer {
  flex: 1 1 auto;
}
