<div class="context">--- the source is the same section ---</div>
<div class="data" ngtText="translation.text.otherElements"></div>
<div class="data flex-row">
  <div class="row-item" ngtText="translation.text.element.earth"></div>
  <div class="row-item" ngtText="translation.text.element.water"></div>
  <div class="row-item" ngtText="translation.text.element.wind"></div>
  <div class="row-item" ngtText="translation.text.element.fire"></div>
</div>
<div class="data" ngtHtml="translation.text.smurfs"></div>

<div class="context">--- the sources are shared sections ---</div>
<div class="data" ngtText="shared.fourSeasons"></div>
<div class="data flex-row">
  <div class="row-item" ngtText="enums.season.spring"></div>
  <div class="row-item" ngtText="enums.season.summer"></div>
  <div class="row-item" ngtText="enums.season.autumn"></div>
  <div class="row-item" ngtText="enums.season.winter"></div>
</div>
<div class="data" ngtHtml="shared.pooh"></div>

<ng-container *ngtContext="let t; node: 'translation.text'">
  <div class="context">--- with interpolation ---</div>
  <div class="data" [ngtParams]="{ today }" [ngtText]="'translation.text.today'"></div>
  <div class="data" [ngtParams]="{ surge, points }" [ngtText]="'translation.text.stock'"></div>
  <div class="data" [ngtParams]="book" [ngtText]="'translation.text.book'"></div>
</ng-container>
