<ng-container *ngtContext="let t; node: 'localization.money'; let l = localize">

  <div class="grid-1-1">
    <div>
      <div class="context">--- with long option names ---</div>
      <div class="grid-1-1">
        <div class="label">{{ t('default' ) }}:</div>
        <div>
          <div class="data">{{ l.money(amount) }}</div>
          <div class="data">{{ l.money(amount, 'GBP') }}</div>
        </div>
        <div class="label">{{ t('code' ) }}:</div>
        <div>
          <div class="data">{{ l.money(amount, 'currencyDisplay=code') }}</div>
          <div class="data">{{ l.money(amount, 'GBP', 'currencyDisplay=code') }}</div>
        </div>
        <div class="label">{{ t('name' ) }}:</div>
        <div>
          <div class="data">{{ l.money(amount, 'currencyDisplay=name') }}</div>
          <div class="data">{{ l.money(amount, 'GBP', 'currencyDisplay=name') }}</div>
        </div>
        <div class="label">{{ t('symbol' ) }}:</div>
        <div>
          <div class="data">{{ l.money(amount, 'currencyDisplay=symbol') }}</div>
          <div class="data">{{ l.money(amount, 'GBP', 'currencyDisplay=symbol') }}</div>
        </div>
      </div>
    </div>
    <div>
      <div class="context">--- with short option names ---</div>
      <div class="grid-1-1">
        <div class="label">{{ t('default' ) }}:</div>
        <div>
          <div class="data">{{ l.money(amount) }}</div>
          <div class="data">{{ l.money(amount, 'GBP') }}</div>
        </div>
        <div class="label">{{ t('code' ) }}:</div>
        <div>
          <div class="data">{{ l.money(amount, 'cd = code') }}</div>
          <div class="data">{{ l.money(amount, 'GBP', 'cd = code') }}</div>
        </div>
        <div class="label">{{ t('name' ) }}:</div>
        <div>
          <div class="data">{{ l.money(amount, 'cd = name') }}</div>
          <div class="data">{{ l.money(amount, 'GBP', 'cd = name') }}</div>
        </div>
        <div class="label">{{ t('symbol' ) }}:</div>
        <div>
          <div class="data">{{ l.money(amount, 'cd = symbol') }}</div>
          <div class="data">{{ l.money(amount, 'GBP', 'cd = symbol') }}</div>
        </div>
      </div>
    </div>
  </div>

</ng-container>
