<ng-container *ngtContext="let t; node: 'localization.currency'; let l = localize">

  <div class="grid-1-1">
    <div>
      <div class="context">--- with long option names ---</div>
      <div class="grid-1-1">
        <div class="label">{{ t('default_f' ) }}:</div>
        <div>
          <div class="data">{{ l.currency(currencyUSD) }}</div>
          <div class="data">{{ l.currency(currencyEUR) }}</div>
          <div class="data">{{ l.currency(currencyHUF) }}</div>
        </div>
        <div class="label">{{ t('code_f' ) }}:</div>
        <div>
          <div class="data">{{ l.currency(currencyUSD, 'currency-code') }}</div>
          <div class="data">{{ l.currency(currencyEUR, 'currency-code') }}</div>
          <div class="data">{{ l.currency(currencyHUF, 'currency-code') }}</div>
        </div>
        <div class="label">{{ t('name_f' ) }}:</div>
        <div>
          <div class="data">{{ l.currency(currencyUSD, 'currency-name') }}</div>
          <div class="data">{{ l.currency(currencyEUR, 'currency-name') }}</div>
          <div class="data">{{ l.currency(currencyHUF, 'currency-name') }}</div>
        </div>
        <div class="label">{{ t('symbol_f' ) }}:</div>
        <div>
          <div class="data">{{ l.currency(currencyUSD, 'currency-symbol') }}</div>
          <div class="data">{{ l.currency(currencyEUR, 'currency-symbol') }}</div>
          <div class="data">{{ l.currency(currencyHUF, 'currency-symbol') }}</div>
        </div>
      </div>
    </div>
    <div>
      <div class="context">--- with short option names ---</div>
      <div class="grid-1-1">
        <div class="label">{{ t('default_f' ) }}:</div>
        <div>
          <div class="data">{{ l.currency(currencyUSD) }}</div>
          <div class="data">{{ l.currency(currencyEUR) }}</div>
          <div class="data">{{ l.currency(currencyHUF) }}</div>
        </div>
        <div class="label">{{ t('code_f' ) }}:</div>
        <div>
          <div class="data">{{ l.currency(currencyUSD, 'code') }}</div>
          <div class="data">{{ l.currency(currencyEUR, 'code') }}</div>
          <div class="data">{{ l.currency(currencyHUF, 'code') }}</div>
        </div>
        <div class="label">{{ t('name_f' ) }}:</div>
        <div>
          <div class="data">{{ l.currency(currencyUSD, 'name') }}</div>
          <div class="data">{{ l.currency(currencyEUR, 'name') }}</div>
          <div class="data">{{ l.currency(currencyHUF, 'name') }}</div>
        </div>
        <div class="label">{{ t('symbol_f' ) }}:</div>
        <div>
          <div class="data">{{ l.currency(currencyUSD, 'symbol') }}</div>
          <div class="data">{{ l.currency(currencyEUR, 'symbol') }}</div>
          <div class="data">{{ l.currency(currencyHUF, 'symbol') }}</div>
        </div>
      </div>
    </div>
  </div>

</ng-container>
