
<h1>{{ 'spring.index.title' | translate }}</h1>

<img src="/assets/images/spring.jpg" class="image">

<div class="center">
  <mat-card>

    <h3> Allegro </h3>

    <p>
      {{ 'spring.index.line_1_1' | translate }}<br>
      {{ 'spring.index.line_1_2' | translate }}<br>
      {{ 'spring.index.line_1_3' | translate }}<br>
      {{ 'spring.index.line_1_4' | translate }}
    </p>

    <p>
      {{ 'spring.index.line_2_1' | translate }}<br>
      {{ 'spring.index.line_2_2' | translate }}<br>
      {{ 'spring.index.line_2_3' | translate }}<br>
      {{ 'spring.index.line_2_4' | translate }}
    </p>

    <h3> Largo </h3>

    <p>
      {{ 'spring.index.line_3_1' | translate }}<br>
      {{ 'spring.index.line_3_2' | translate }}<br>
      {{ 'spring.index.line_3_3' | translate }}
    </p>

    <h3> Allegro </h3>

    <p>
      {{ 'spring.index.line_4_1' | translate }}<br>
      {{ 'spring.index.line_4_2' | translate }}<br>
      {{ 'spring.index.line_4_3' | translate }}
    </p>

  </mat-card>
</div>
