<mat-card>
  <mat-card-title>
    Welcome to NgTranslation!
  </mat-card-title>

  <mat-card-content>
    <p>
      NgTranslation is a localization support package for Angular 7 applications.
    </p>
  </mat-card-content>
</mat-card>

<mat-card>
  <mat-card-title>
    Installation
  </mat-card-title>

  <mat-card-content>
    <p>
      First you need to install the npm module:
    </p>
    <app-excerpt [text]="install"></app-excerpt>
  </mat-card-content>
</mat-card>

<mat-card>
  <mat-card-title>
    Setup
  </mat-card-title>

  <mat-card-content>
    <h3>Root module</h3>
    <p>
      To use ng-translation you have to import the NgTranslationModule.forRoot()
      in the root module of your Angular application:
    </p>
    <app-excerpt [text]="setup"></app-excerpt>
    <p>
      The forRoot method requires a configuration object, see later.
    </p>

    <h3>Feature modules or shared module</h3>
    <p>
      In feature modules you have to use the NgTranslationModule.forChild()
      method, or if you use a shared module that you import in multiple other
      feature modules, you can export the NgTranslationModule to make sure you
      don't have to import it in every module.
    </p>
    <app-excerpt [text]="feature"></app-excerpt>

    <h3>Lazy loaded modules</h3>
    <p>
      For lazy loaded modules yuo have to use the LoadTranslationsGuard in the
      route definitions to load the translations before loading the modules:
    </p>
    <app-excerpt [text]="lazy"></app-excerpt>
    <p>
      The translations belonging to the lazy loaded modules are identified by the
      path. To avoid path conflicts you can use an alternative way to identify the
      proper translation. Add a data object having a section prefix property to
      the route definition:
    </p>
    <app-excerpt [text]="guard"></app-excerpt>
  </mat-card-content>

  <mat-card-actions>
    <span class="fill-remaining-space"></span>

    <span class="control-text">Configuration</span>
    <a href="configuration">
      <button mat-fab color="accent">
        <i class="fas fa-chevron-right control-button"></i>
      </button>
    </a>
  </mat-card-actions>
</mat-card>
