<mat-toolbar color="primary" class="header">

  <span class="icon">
    <i class="fab fa-angular"></i>
  </span>
  <span class="title">NgTranslation</span>

  <ng-container *ngFor="let item of menu; last as isLast">
    <a [routerLink]="item.link">{{ item.text }}</a>
    <span *ngIf="!isLast">♦</span>
  </ng-container>

  <span class="fill-remaining-space"></span>

  <select #version (change)="versionChange( $event )">
    <option *ngFor="let option of (versions$ | async)"
    [value]="option.value">{{ option.text }}</option>
  </select>
  <a title="Source code" href="https://github.com/logikum/ng-translation" target="_blank">
    <span class="icon">
      <i class="fab fa-github"></i>
    </span>
  </a>

</mat-toolbar>

<div class="page">
  <router-outlet></router-outlet>
</div>

