<mat-toolbar color="primary" class="header">

  <span class="icon">
    <i class="fab fa-angular"></i>
  </span>
  <span class="title">NgTranslation</span>

  <a routerLink="home">Getting Started</a> ♦
  <a routerLink="configuration">Configuration</a> ♦
  <a routerLink="usage">Usage</a> ♦
  <a routerLink="selection-list">Selection Lists</a> ♦
  <a routerLink="text-list">Text Lists</a> ♦
  <a routerLink="api">API</a>

  <span class="fill-remaining-space"></span>

  <span>1.0</span>
  <a title="Source code" href="https://github.com/logikum/ng-translation" target="_blank">
    <span class="icon">
      <i class="fab fa-github"></i>
    </span>
  </a>

</mat-toolbar>

<div class="page">
  <router-outlet></router-outlet>
</div>

