.header {
  position: fixed;
  left: 0;
  top: 0;
}
.header a, .header a:visited {
  font-size: 1rem;
  color: pink;
  padding: 0 10px;
  text-decoration: none;
}
.title {
  padding-right: 20px;
}
.icon {
  font-size: 3rem;
  color: white;
  margin: 0 1rem;
}
.page {
  margin: auto;
  padding-top: 90px;
  width: 800px;
}
