@import "@angular/material/prebuilt-themes/indigo-pink.css";

html, body {
  margin: 0;
  padding: 0;
}
.app-header {
  display: flex;
  align-items: baseline;
  margin: auto;
  width: 800px;
}
.app-header .title {

}
.app-header a, .app-header a:visited {
  font-size: 1rem;
  color: pink;
  padding: 0 10px;
  text-decoration: none;
}
.app-header a.title, .app-header a:visited.title {
  font-size: 1.4rem;
  color: white;
  padding: 0 10px;
  text-decoration: none;
}
.fill-remaining-space {
  flex: 1 1 auto;
}
.app-content {
  display: flex;
  align-items: baseline;
  margin: auto;
  width: 800px;
}
.app-footer {
  margin: auto;
  width: 800px;
  border-top: #3f51b5 solid 5px;
  margin-top: 2rem;
  text-align: center;
  font-weight: bold;
}

h1 {
  font-family: Roboto,"Helvetica Neue",sans-serif;
  text-align: center;
  width: 800px;
}
h3 {
  font-style: italic;
}
p, div, td {
  font-family: Roboto,"Helvetica Neue",sans-serif;
}
a, a:visited {
  color: crimson;
  text-decoration: none;
}
.center {
  margin: auto;
  width: 60%;
}
.text-center {
  text-align: center;
}
.image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
}
select, option {
  font-family: Roboto,"Helvetica Neue",sans-serif;
  font-size: 11pt;
  padding: 5px 10px;
  width: 120px;
}
option {
  font-family: Roboto,"Helvetica Neue",sans-serif;
  font-size: 11pt;
  height: 40px;
  line-height: 40px;
}
table {
  width: 100%;
}
