<ng-container *ngtContext="let t; node: 'translate'">
  <fts-accordion [collapsing]="true">
    <div ftsAccordionItem [title]="t('csvFile.title')">
      <ng-template ftsAccordionContent>
        <div class="accordion-content">
          <fts-csv-file></fts-csv-file>
        </div>
      </ng-template>
    </div>
    <div ftsAccordionItem [title]="t('poFile.title')">
      <ng-template ftsAccordionContent>
        <div class="accordion-content">
          <fts-po-file></fts-po-file>
        </div>
      </ng-template>
    </div>
  </fts-accordion>
</ng-container>
