<mat-toolbar color="primary" class="header">

  <span class="icon">
    <i class="fab fa-angular"></i>
  </span>
  <span class="title">NgTranslation</span>

  <span class="fill-remaining-space"></span>

  <table>
    <tr>
      <td>
        <ng-container *ngFor="let item of menu1; last as isLast">
          <a [routerLink]="item.link">{{ item.text }}</a>
          <span *ngIf="!isLast">♦</span>
        </ng-container>
      </td>
    </tr>
    <tr>
      <td>
        <ng-container *ngFor="let item of menu2; last as isLast">
          <a [routerLink]="item.link">{{ item.text }}</a>
          <span *ngIf="!isLast">♦</span>
        </ng-container>
      </td>
    </tr>
  </table>

  <span class="fill-remaining-space"></span>

  <select #version (change)="versionChange( $event )">
    <option *ngFor="let option of (versions$ | async)"
            [value]="option.value">{{ option.text }}</option>
  </select>
  <a title="Source code" href="https://github.com/logikum/ng-translation" target="_blank">
    <span class="icon">
      <i class="fab fa-github"></i>
    </span>
  </a>

</mat-toolbar>
