<div *translate="let t">

  <h1>{{ t('summer.index.title') }}</h1>

  <img src="/assets/images/summer.jpg" class="image">

  <div class="center">
    <mat-card>

      <h3> Allegro non molto - Allegro </h3>

      <p>
        {{ t('summer.index.line_1_1') }}<br>
        {{ t('summer.index.line_1_2') }}<br>
        {{ t('summer.index.line_1_3') }}<br>
        {{ t('summer.index.line_1_4') }}
      </p>

      <p>
        {{ t('summer.index.line_2_1') }}<br>
        {{ t('summer.index.line_2_2') }}<br>
        {{ t('summer.index.line_2_3') }}<br>
        {{ t('summer.index.line_2_4') }}
      </p>

      <h3> Adagio e piano - Presto e forte </h3>

      <p>
        {{ t('summer.index.line_3_1') }}<br>
        {{ t('summer.index.line_3_2') }}<br>
        {{ t('summer.index.line_3_3') }}
      </p>

      <h3> Presto </h3>

      <p>
        {{ t('summer.index.line_4_1') }}<br>
        {{ t('summer.index.line_4_2') }}<br>
        {{ t('summer.index.line_4_3') }}
      </p>

    </mat-card>
  </div>

</div>
