
<h1>{{ 'summer.index.title' | translate }}</h1>

<img src="/assets/images/summer.jpg" class="image">

<div class="center">
  <mat-card>

    <h3> Allegro non molto - Allegro </h3>

    <p>
      {{ 'summer.index.line_1_1' | translate }}<br>
      {{ 'summer.index.line_1_2' | translate }}<br>
      {{ 'summer.index.line_1_3' | translate }}<br>
      {{ 'summer.index.line_1_4' | translate }}
    </p>

    <p>
      {{ 'summer.index.line_2_1' | translate }}<br>
      {{ 'summer.index.line_2_2' | translate }}<br>
      {{ 'summer.index.line_2_3' | translate }}<br>
      {{ 'summer.index.line_2_4' | translate }}
    </p>

    <h3> Adagio e piano - Presto e forte </h3>

    <p>
      {{ 'summer.index.line_3_1' | translate }}<br>
      {{ 'summer.index.line_3_2' | translate }}<br>
      {{ 'summer.index.line_3_3' | translate }}
    </p>

    <h3> Presto </h3>

    <p>
      {{ 'summer.index.line_4_1' | translate }}<br>
      {{ 'summer.index.line_4_2' | translate }}<br>
      {{ 'summer.index.line_4_3' | translate }}
    </p>

  </mat-card>
</div>
