<ng-container *ngtContext="let t; node: 'general'">
  <fts-accordion [collapsing]="true">
    <div ftsAccordionItem [title]="t('code.title')">
      <ng-template ftsAccordionContent>
        <div class="accordion-content">
          <fts-code></fts-code>
        </div>
      </ng-template>
    </div>
    <div ftsAccordionItem [title]="t('structural.title')">
      <ng-template ftsAccordionContent>
        <div class="accordion-content">
          <fts-structural></fts-structural>
        </div>
      </ng-template>
    </div>
    <div ftsAccordionItem [title]="t('reader.title')">
      <ng-template ftsAccordionContent>
        <div class="accordion-content">
          <fts-reader></fts-reader>
        </div>
      </ng-template>
    </div>
    <div ftsAccordionItem>
      <ng-template ftsAccordionTitle>
        <p class="accordion-title" [innerHTML]="t('pipe.title')">ABC</p>
      </ng-template>
      <ng-template ftsAccordionContent>
        <div class="accordion-content">
          <fts-pipe></fts-pipe>
        </div>
      </ng-template>
    </div>
    <div ftsAccordionItem [title]="t('attribute.title')">
      <ng-template ftsAccordionContent>
        <div class="accordion-content">
          <fts-attribute></fts-attribute>
        </div>
      </ng-template>
    </div>
  </fts-accordion>
</ng-container>
