<ng-container *translate="let t">

  <h1> {{ t('app.shared.components') }} </h1>

  <h3>TranslatableOptionList</h3>
  <p>
    <label>{{ t('app.shared.select') }}</label>
    <select (change)="monthChange( $event )">
      <option *ngFor="let month of months"
              [value]="month.value"
              [selected]="month.selected">
        {{ month.text }}
      </option>
    </select>
  </p>
  <table>
    <tr>
      <td><label>{{ t('app.shared.selectedIndex') }}</label></td>
      <td>{{ months.selectedIndex }}</td>
    </tr>
    <tr>
      <td><label>{{ t('app.shared.selectedValue') }}</label></td>
      <td>{{ months.selectedValue }}</td>
    </tr>
    <tr>
      <td><label>{{ t('app.shared.selectedText') }}</label></td>
      <td>{{ months.selectedText }}</td>
    </tr>
    <tr>
      <td><label>{{ t('app.shared.selectedItem') }}</label></td>
      <td>{{ selectedMonth }}</td>
    </tr>
  </table>
  <p>
    <ng-container *ngFor="let season of seasons">
      <label>
        <input type="radio" name="season" [value]="season.value"
               [checked]="season.selected"
               (change)="seasonChange( $event)">
        {{ season.text }}
      </label>
    </ng-container>
  </p>
  <table>
    <tr>
      <td><label>{{ 'app.shared.selectedIndex' | translate }}</label></td>
      <td>{{ seasons.selectedIndex }}</td>
    </tr>
    <tr>
      <td><label>{{ 'app.shared.selectedValue' | translate }}</label></td>
      <td>{{ seasons.selectedValue }}</td>
    </tr>
    <tr>
      <td><label>{{ 'app.shared.selectedText' | translate }}</label></td>
      <td>{{ seasons.selectedText }}</td>
    </tr>
    <tr>
      <td><label>{{ 'app.shared.selectedItem' | translate }}</label></td>
      <td>{{ selectedSeason }}</td>
    </tr>
  </table>

  <h3>TranslatableTextList</h3>
  <table style="width: 80%">
    <tr>
      <td>
        {{ texts.get ('seasons') }}:<br>
        {{ texts.get ('spring') }}<br>
        {{ texts.get ('summer') }}<br>
        {{ texts.get ('autumn') }}<br>
        {{ texts.get ('winter') }}
      </td>
      <td>
        {{ texts.get ('lng.en') }}<br>
        {{ texts.get ('lng.it') }}<br>
        {{ texts.get ('lng.hu') }}
      </td>
    </tr>
  </table>

</ng-container>
