<ng-container *translate="let t">

  <h1> {{ t('app.shared.components') }} </h1>

  <h3>TranslatableOptionList</h3>
  <p>
    <label>{{ t('app.shared.select') }}</label>
    <select (change)="monthChange( $event )">
      <option *ngFor="let month of months"
              [value]="month.value"
              [selected]="month.selected">
        {{ month.text }}
      </option>
    </select>
  </p>
  <table>
    <tr>
      <td><label>{{ t('app.shared.selectedIndex') }}</label></td>
      <td>{{ months.selectedIndex }}</td>
    </tr>
    <tr>
      <td><label>{{ t('app.shared.selectedValue') }}</label></td>
      <td>{{ months.selectedValue }}</td>
    </tr>
    <tr>
      <td><label>{{ t('app.shared.selectedText') }}</label></td>
      <td>{{ months.selectedText }}</td>
    </tr>
    <tr>
      <td><label>{{ t('app.shared.selectedItem') }}</label></td>
      <td>{{ selectedMonth }}</td>
    </tr>
  </table>
  <p>
    <ng-container *ngFor="let season of seasons">
      <label>
        <input type="radio" name="season" [value]="season.value"
               [checked]="season.selected"
               (change)="seasonChange( $event)">
        {{ season.text }}
      </label>
    </ng-container>
  </p>
  <table>
    <tr>
      <td><label>{{ 'app.shared.selectedIndex' | translate }}</label></td>
      <td>{{ seasons.selectedIndex }}</td>
    </tr>
    <tr>
      <td><label>{{ 'app.shared.selectedValue' | translate }}</label></td>
      <td>{{ seasons.selectedValue }}</td>
    </tr>
    <tr>
      <td><label>{{ 'app.shared.selectedText' | translate }}</label></td>
      <td>{{ seasons.selectedText }}</td>
    </tr>
    <tr>
      <td><label>{{ 'app.shared.selectedItem' | translate }}</label></td>
      <td>{{ selectedSeason }}</td>
    </tr>
  </table>

  <h3>TranslatableTextList</h3>
  <table style="width: 80%">
    <tr>
      <td>
        {{ texts.get ('seasons') }}:<br>
        {{ texts.get ('spring') }}<br>
        {{ texts.get ('summer') }}<br>
        {{ texts.get ('autumn') }}<br>
        {{ texts.get ('winter') }}
      </td>
      <td>
        {{ texts.get ('lng.en') }}<br>
        {{ texts.get ('lng.it') }}<br>
        {{ texts.get ('lng.hu') }}
      </td>
    </tr>
  </table>
  <div>&nbsp;</div>
  <div>{{ line1 }}</div>
  <div>{{ line2 }}</div>
  <div>{{ line3 }}</div>
  <div>{{ line4 }}</div>

  <h3>TranslatableMultipleChoice</h3>
  <div>{{ t('app.multiple.select') }}</div>
  <p>
    <ng-container *ngFor="let period of periods; let i = index">
      <label>
        <input type="checkbox" name="period" [value]="period.value"
               [checked]="period.selected"
               (change)="periodChange( $event)">
        {{ period.text }}
      </label>
      <br *ngIf="i === 5">
    </ng-container>
  </p>
  <div>
    <button (click)="all()">{{ t('app.multiple.all') }}</button>
    <button (click)="none()">{{ t('app.multiple.none') }}</button>
  </div>
  <table>
    <tr>
      <td><label>{{ 'app.multiple.selectedCount' | translate }}</label></td>
      <td>{{ periods.selectedCount }}</td>
    </tr>
    <tr>
      <td><label>{{ 'app.multiple.selectedIndeces' | translate }}</label></td>
      <td>{{ periods.selectedIndeces.join(', ') }}</td>
    </tr>
    <tr>
      <td><label>{{ 'app.multiple.selectedValues' | translate }}</label></td>
      <td>{{ periods.selectedValues.join(', ') }}</td>
    </tr>
    <tr>
      <td><label>{{ 'app.multiple.selectedTexts' | translate }}</label></td>
      <td>{{ periods.selectedTexts.join(', ') }}</td>
    </tr>
    <tr>
      <td><label>{{ 'app.multiple.selectedItems' | translate }}</label></td>
      <td [innerHTML]="selectedPeriods"></td>
    </tr>
  </table>

</ng-container>
