<div class="context">--- text from code ---</div>
<div class="data">{{ elements }}</div>
<div class="data flex-row">
  <div class="row-item">{{ earth }}</div>
  <div class="row-item">{{ water }}</div>
  <div class="row-item">{{ wind }}</div>
  <div class="row-item">{{ fire }}</div>
</div>
<div class="data">{{ seasons }}</div>
<div class="data flex-row">
  <div class="row-item">{{ spring }}</div>
  <div class="row-item">{{ summer }}</div>
  <div class="row-item">{{ autumn }}</div>
  <div class="row-item">{{ winter }}</div>
</div>

<div class="context">--- text in view ---</div>
<ng-container *ngtContext="let t; node: 'translation.text.element'">
  <div class="data">{{ t('../otherElements') }}</div>
  <div class="data flex-row">
    <div class="row-item">{{ t('earth') }}</div>
    <div class="row-item">{{ t('water') }}</div>
    <div class="row-item">{{ t('wind') }}</div>
    <div class="row-item">{{ t('fire') }}</div>
  </div>
  <ng-container *ngtContext="let t; node: 'enums.season'">
    <div class="data">{{ t('/app.fourSeasons') }}</div>
    <div class="data flex-row">
      <div class="row-item">{{ t('spring') }}</div>
      <div class="row-item">{{ t('summer') }}</div>
      <div class="row-item">{{ t('autumn') }}</div>
      <div class="row-item">{{ t('winter') }}</div>
    </div>
  </ng-container>
</ng-container>
