<ng-container *ngtContext="let t; node: 'component'">
  <fts-accordion [collapsing]="true">
    <div ftsAccordionItem title="NgtLocaleList">
      <ng-template ftsAccordionContent>
        <div class="accordion-content">
          <fts-locale-list></fts-locale-list>
        </div>
      </ng-template>
    </div>
    <div ftsAccordionItem title="NgtSingleChoice">
      <ng-template ftsAccordionContent>
        <div class="accordion-content">
          <fts-single-choice></fts-single-choice>
        </div>
      </ng-template>
    </div>
    <div ftsAccordionItem title="NgtMultipleChoice">
      <ng-template ftsAccordionContent>
        <div class="accordion-content">
          <fts-multiple-choice></fts-multiple-choice>
        </div>
      </ng-template>
    </div>
    <div ftsAccordionItem title="NgtTextList">
      <ng-template ftsAccordionContent>
        <div class="accordion-content">
          <fts-text-list></fts-text-list>
        </div>
      </ng-template>
    </div>
  </fts-accordion>
</ng-container>
