<ng-container *translate="let t">

  <h1>{{ t('fall.index.title') }}</h1>

  <img src="/assets/images/autumn.jpg" class="image">

  <div class="center">
    <mat-card>

      <h3> Allegro </h3>

      <p>
        {{ t('fall.index.line_1_1') }}<br>
        {{ t('fall.index.line_1_2') }}<br>
        {{ t('fall.index.line_1_3') }}<br>
        {{ t('fall.index.line_1_4') }}
      </p>

      <h3> Adagio molto </h3>

      <p>
        {{ t('fall.index.line_2_1') }}<br>
        {{ t('fall.index.line_2_2') }}<br>
        {{ t('fall.index.line_2_3') }}<br>
        {{ t('fall.index.line_2_4') }}
      </p>

      <h3> Allegro </h3>

      <p>
        {{ t('fall.index.line_3_1') }}<br>
        {{ t('fall.index.line_3_2') }}<br>
        {{ t('fall.index.line_3_3') }}
      </p>

      <p>
        {{ t('fall.index.line_4_1') }}<br>
        {{ t('fall.index.line_4_2') }}<br>
        {{ t('fall.index.line_4_3') }}
      </p>

    </mat-card>
  </div>

</ng-container>
