<ng-container *ngtContext="let t; node: 'other'">
  <fts-accordion [collapsing]="true">
    <div ftsAccordionItem [title]="t('enumeration.title')">
      <ng-template ftsAccordionContent>
        <div class="accordion-content">
          <fts-enumeration></fts-enumeration>
        </div>
      </ng-template>
    </div>
    <div ftsAccordionItem [title]="t('formatExtender.title')">
      <ng-template ftsAccordionContent>
        <div class="accordion-content">
          <fts-format-extender></fts-format-extender>
        </div>
      </ng-template>
    </div>
    <div ftsAccordionItem [title]="t('camelCase.title')">
      <ng-template ftsAccordionContent>
        <div class="accordion-content">
          <fts-camel-case></fts-camel-case>
        </div>
      </ng-template>
    </div>
    <div ftsAccordionItem [title]="t('inlineLoader.title')">
      <ng-template ftsAccordionContent>
        <div class="accordion-content">
          <fts-inline-loader></fts-inline-loader>
        </div>
      </ng-template>
    </div>
  </fts-accordion>
</ng-container>
