<ng-container *ngtContext="let t; node: 'localization'">
  <fts-accordion [collapsing]="true">
    <div ftsAccordionItem [title]="t('number.title')">
      <ng-template ftsAccordionContent>
        <div class="accordion-content">
          <fts-number-format></fts-number-format>
        </div>
      </ng-template>
    </div>
    <div ftsAccordionItem [title]="t('percent.title')">
      <ng-template ftsAccordionContent>
        <div class="accordion-content">
          <fts-percent-format></fts-percent-format>
        </div>
      </ng-template>
    </div>
    <div ftsAccordionItem [title]="t('currency.title')">
      <ng-template ftsAccordionContent>
        <div class="accordion-content">
          <fts-currency-format></fts-currency-format>
        </div>
      </ng-template>
    </div>
    <div ftsAccordionItem [title]="t('datetime.title')">
      <ng-template ftsAccordionContent>
        <div class="accordion-content">
          <fts-datetime-format></fts-datetime-format>
        </div>
      </ng-template>
    </div>
    <div ftsAccordionItem [title]="t('plural.title')">
      <ng-template ftsAccordionContent>
        <div class="accordion-content">
          <fts-plural-format></fts-plural-format>
        </div>
      </ng-template>
    </div>
  </fts-accordion>
</ng-container>
