<mat-card>
  <mat-card-title>
    Usage
  </mat-card-title>

  <mat-card-content>
    Content
  </mat-card-content>

  <mat-card-actions>
    <a href="home">
      <button mat-fab color="primary">
        <i class="fas fa-chevron-left control-button"></i>
      </button>
    </a>
    <span class="control-text">Getting Started</span>

    <span class="fill-remaining-space"></span>

    <span class="control-text">Selection Lists</span>
    <a href="selection-list">
      <button mat-fab color="accent">
        <i class="fas fa-chevron-right control-button"></i>
      </button>
    </a>
  </mat-card-actions>
</mat-card>
