<mat-card>
  <mat-card-title>
    Usage
  </mat-card-title>

  <mat-card-content>
    <h3>Define translations</h3>
    <p>
      The translation texts are stored in JSON files:
    </p>
    <pre>// app.en.json
&#123;
  "version": "1.0.0",
  "title": "Application Name",
  "welcome": "Welcome, &#123;<span></span>&#123; name }}!"
}</pre>
    <p>
      The translation texts are referred in the Angular app by their keys. The key
      consists of the name of the translation file and the name of the JSON property
      separated by a dot. The texts in the above example can be referred by the
      following keys:
    </p>
    <pre>'app.version', 'app.title', 'app.welcome'</pre>
    <p>
      The JSON objects can be nested:
    </p>
    <pre>// app.en.json
&#123;
  "version": "1.0.0",
  "home": &#123;
    "title": "Application Name",
    "welcome": "Welcome, &#123;<span></span>&#123; name }}!"
  }
}</pre>
    <p>
      In this case the keys will be:
    </p>
    <pre>'app.version', 'app.home.title', 'app.home.welcome'</pre>
    <p>
      You can use an extended translation file names in similar way:
    </p>
    <pre>// app.auth.en.json
&#123;
  "userid": "User name",
  "pwd": "Password",
  "errors": &#123;
    "failed": "The credentials are wrong!"
  }
}</pre>
    <p>
      Then the keys will be:
    </p>
    <pre>'app.auth.userid', 'app.auth.pwd', 'app.auth.errors.failed'</pre>
    <p>
      The section prefixes of lazy loaded modules will not part of the keys.
    </p>

    <h3>Use pipe in views</h3>
    <p>
      You can use the TranslatePipe to get your translation values:
    </p>
    <pre>&lt;div>&#123;<span></span>&#123; '<strong>key</strong>' | translate:<strong>parameters</strong> }}&lt;/div></pre>
    <p>
      The parameters are optional. For example:
    </p>
    <pre>&lt;div>&#123;<span></span>&#123; 'app.home.title' | translate }}&lt;/div></pre>
    <p>
      Or with parameters:
    </p>
    <pre>&lt;div>&#123;<span></span>&#123; 'app.home.welcome' | translate:&#123; name: 'John' } }}&lt;/div></pre>
    <p>
      You can also specify the paramater in the component:
    </p>
    <pre>const profile = &#123;
  name: 'John',
  age: 37
};</pre>
    <pre>&lt;div>&#123;<span></span>&#123; 'app.home.welcome' | translate:profile }}&lt;/div></pre>
    <p>
      When you use HTML tags in the translation text:
    </p>
    <pre>&#123;
  "version": "Application Name&lt;br>&lt;strong>Version 1.0.0&lt;/strong>"
}</pre>
    <p>
      It can be displayed using the innerHTML attribute:
    </p>
    <pre>&lt;div [innerHTML]="'app.version' | translate">&lt;/div></pre>

    <h3>Use service in components</h3>
    <p>
      Instantiate the translation service in the component:
    </p>
    <pre>constructor(
  private translate: TranslationService
) &#123; }</pre>
    <p>
      Then you can get the translation texts:
    </p>
    <pre>ngOnInit() &#123;
  const title = this.translate.get( 'app.home.title' );
  const promo = this.translate.get(
    'app.promotions.daily',
    &#123; product: 'CPG34500', discount: 15 }
  );
}</pre>
    <p>
      You must get the translation texts again after the current language has changed.
      Another solution to use the TranslatableTextList or TranslatableOptionList
      classes to manage the translations because they update their texts automatically.
    </p>

    <h3>Parameter interpolation</h3>
    <p>
      If the parameter is an object, the translation service searches the names its
      properties surrounded by double curly brackets. When it finds one, it will be
      replaced by the value of the given property, e.g.:
    </p>
    <pre>// app.en.json
&#123;
  "welcome": "Welcome, &#123;<span></span>&#123; name }}!"
}

// app.compoonent.html
&lt;div>&#123;<span></span>&#123; 'app.welcome' | translate:&#123; name: 'John' } }}&lt;/div>

// Output: Wlecome, John!</pre>
    <p>
      When the parameter is an array, the translation service searches the indeces
      of the array items surrounded by double curly brackets:
    </p>
    <pre>// app.en.json
&#123;
  "welcome": "Welcome, &#123;<span></span>&#123; 0 }}!"
}

// app.compoonent.html
&lt;div>&#123;<span></span>&#123; 'app.welcome' | translate:[ 'John' ] }}&lt;/div>

// Output: Wlecome, John!</pre>
    <p>
      In case of the parameter being a string, number or Boolean, the search phrase
      is always &#123;<span></span>&#123;0}}:
    </p>
    <pre>// app.en.json
&#123;
  "welcome": "Welcome, &#123;<span></span>&#123; 0 }}!"
}

// app.compoonent.html
&lt;div>&#123;<span></span>&#123; 'app.welcome' | translate:'John' }}&lt;/div>

// Output: Wlecome, John!</pre>
  </mat-card-content>

  <mat-card-actions>
    <a href="configuration">
      <button mat-fab color="primary">
        <i class="fas fa-chevron-left control-button"></i>
      </button>
    </a>
    <span class="control-text">Configuration</span>

    <span class="fill-remaining-space"></span>

    <span class="control-text">Selection Lists</span>
    <a href="selection-list">
      <button mat-fab color="accent">
        <i class="fas fa-chevron-right control-button"></i>
      </button>
    </a>
  </mat-card-actions>
</mat-card>
