<mat-card>
  <mat-card-title>
    Selection Lists
  </mat-card-title>

  <mat-card-content>
    <p>
      The localization of the texts of a selection list is a frequent task. The
      TranslatableOptionList class provides a way to do that easily. Let us assume
      that we want to create a list of fruits. Tha names of the fruits are stored
      in JSON files:
    </p>
    <pre>// app.hu.json
&#123;
  ...
  "fruits": &#123;
    "apple": "alma",
    "peach": "barack",
    "cherry": "cseresznye",
    "plum": "szilva"
  },
  ...
}</pre>
    <p>
      The TranslatableOptionList class provides the list items in the following way:
    </p>
    <pre>@Component(&#123; ... })
export class FruitComponent implements OnDestroy &#123;

  private fruitList: <strong>TranslatableOptionList</strong>;

  get fruits(): Array&lt;<strong>TranslatableOption</strong>> &#123; return this.fruitList.<strong>items</strong>; }

  constructor(
    private translate: <strong>TranslationService</strong>
  ) &#123;
    this.fruitList = <strong>new</strong> TranslatableOptionList( translate, 'app.fruits' );
  }
  ...
  ngOnDestroy() &#123;
    this.fruitList.<strong>destroy()</strong>;
  }
}</pre>
    <p>
      Here <i>'app.fruits'</i> is the key of the text node. Thereafter the fruit
      list can be used in the view:
    </p>
    <pre>&lt;select>
  &lt;option *ngFor="let fruit of fruits"
          [value]="fruit.<strong>value</strong>"
          [selected]="fruit.<strong>selected</strong>">
    &#123;<span></span>&#123; fruit.text }}
  &lt;/option>
&lt;/select></pre>
    <p>
      The actual value is available as:
    </p>
    <pre>...
  doSomething() &#123;
    ...
    this.fruitList.<strong>selectedValue</strong> = 'cherry';
    ...
    const fruit: string = this.fruitList.<strong>selectedValue</strong>;
    ...
  }
...</pre>
    <p>
      The TranslatableOptionList object wil load the appropriate translation texts
      when the user changes the current language.
    </p>
  </mat-card-content>

  <mat-card-actions>
    <a routerLink="../usage">
      <button mat-fab color="primary">
        <i class="fas fa-chevron-left control-button"></i>
      </button>
    </a>
    <span class="control-text">Usage</span>

    <span class="fill-remaining-space"></span>

    <span class="control-text">Text Lists</span>
    <a routerLink="../text-list">
      <button mat-fab color="accent">
        <i class="fas fa-chevron-right control-button"></i>
      </button>
    </a>
  </mat-card-actions>
</mat-card>
