<div class="context">--- constructor( string ) ---</div>
<div class="grid-8">
  <div class="grid-item label">{{ labels.get('seasons') }}:</div>
  <div class="grid-item data flex-row">
    <div class="row-item">{{ texts_1.get('spring') }}</div>
    <div class="row-item">{{ texts_1.get('summer') }}</div>
    <div class="row-item">{{ texts_1.get('autumn') }}</div>
    <div class="row-item">{{ texts_1.get('winter') }}</div>
  </div>
</div>

<div class="flex-row">&nbsp;</div>

<div class="context">--- constructor( string[] ) ---</div>
<div class="grid-8">
  <div class="grid-item label">{{ labels.get('advice') }}:</div>
  <div class="grid-item grid-8 data">{{ texts_2.get('model.textList.advice') }}</div>
  <div class="grid-item label">{{ labels.get('fruits') }}:</div>
  <div class="data flex-row">
    <div class="row-item">{{ texts_2.get('model.textList.fruit.apple') }}</div>
    <div class="row-item">{{ texts_2.get('model.textList.fruit.peach') }}</div>
    <div class="row-item">{{ texts_2.get('model.textList.fruit.cherry') }}</div>
  </div>
  <div class="grid-item label">{{ labels.get('welcome') }}:</div>
  <div class="grid-item grid-8 data">{{ texts_2.get('app.home.title') }}</div>
  <div class="grid-item label">{{ labels.get('status') }}:</div>
  <div class="data flex-row">
    <div class="row-item">{{ texts_2.get('app.enums.appStatus.construct') }}</div>
    <div class="row-item">{{ texts_2.get('app.enums.appStatus.operate') }}</div>
    <div class="row-item">{{ texts_2.get('app.enums.appStatus.maintain') }}</div>
  </div>
</div>

<div class="flex-row">&nbsp;</div>

<div class="context">--- constructor( object ) ---</div>
<div class="grid-8">
  <div class="grid-item label">{{ labels.get('advice') }}:</div>
  <div class="grid-item grid-8 data">{{ texts_3.get('advice') }}</div>
  <div class="grid-item label">{{ labels.get('fruits') }}:</div>
  <div class="data flex-row">
    <div class="row-item">{{ texts_3.get('apple') }}</div>
    <div class="row-item">{{ texts_3.get('peach') }}</div>
    <div class="row-item">{{ texts_3.get('cherry') }}</div>
  </div>
  <div class="grid-item label">{{ labels.get('welcome') }}:</div>
  <div class="grid-item grid-8 data">{{ texts_3.get('welcome') }}</div>
  <div class="grid-item label">{{ labels.get('status') }}:</div>
  <div class="data flex-row">
    <div class="row-item">{{ texts_3.get('construct') }}</div>
    <div class="row-item">{{ texts_3.get('operate') }}</div>
    <div class="row-item">{{ texts_3.get('maintain') }}</div>
  </div>
</div>
